/* TEMP */
#admin_link {
    visibility: hidden;
}

/* Main styles */
* {
    font-family: Verdana, Helvetica, Arial, sans-serif;
}

body, #root {
    margin: 0;
    padding: 0;
    border: 0;
    max-width: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#header {
    height: 90px;
    color: rgb(0, 172, 121);
    font-family: "Barlow",Barlow,sans-serif;
    font-size: 16px;
    font-weight: 600;
}

#header a {
    color: rgb(0, 172, 121);
    text-decoration: none;
}

#header #logo {
    margin: auto;
    padding-left: 15%;
}

#header #admin_link {
    margin: auto;
    padding-right: 15%;
    text-align: right;
}

#charity_search {
    background-image:url(../images/home_bg.png);
    background-size: cover;
    text-align: center;
}

#charity_search #call_to_action {
    color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 32px;
    line-height: 38px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#charity_search #search_input {
    margin: 0 auto;
    padding-top: 5%;
}

#charity_search input {
    width: 50%;
}

#charity_search .search_results {
    width: 50%;
    margin: auto;
    background-color: white;
}

.search_results li {
    list-style-type: none;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 10px;
}

li.charity.hate-group.alert.alert-danger > div.alert_warning {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #721c24;
}

.charity div {
    display: inline-block;
    font-size: 11px;
    color: #212529;
}

.charity .name {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.charity div.donate-button {
    text-align: right;
    color: white;
    background-color: rgb(0, 172, 121);
    float: right;
    position: relative;
    top: -26px;
    right: 20px;
    padding: 10px;
}